KESTRA_POSTGRES_DB=kestra
KESTRA_POSTGRES_USER=kestra
KESTRA_POSTGRES_PASSWORD=replace_me

ALTERNANCE_POSTGRES_DB=alternance
ALTERNANCE_POSTGRES_USER=alternance_app
ALTERNANCE_POSTGRES_PASSWORD=replace_me